// Place all the styles related to the customer::deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input {
  width: 60%;
}

.td_postal_code {
  width: 10%;
}

.td_address {
  width: 50%;
}

.td_addressee, .td_btn {
  width: 20%;
}