<div class="container">
  <div class="row">
    <div class="col">
      <h4>本当に退会しますか？</h4>
      
          <div>
            退会すると会員情報登録や<br>
            これまでの購入履歴が閲覧できなくなります。<br>
            <br>
            退会する場合は,「退会する」をクリックしてください。
          </div>
      
      <div><%= link_to "退会しない",customers_path %></div>
      <div><%= link_to "退会する",customers_withdraw_path, method: :patch %></div>
    </div>
  </div>
</div>
