<div class="container">
 <div class="row">
  <div class="col">
  <h1 class="text-center">About</h1>
  <p class="text-center">
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。
  </p>
   <div class="main">
   <img src="/assets/nagano_cake/cake1.jpg", alt="" width="600" height="200"><br><br>

   <h5>営業時間時　13時〜15時</h5>
   <h5>定休日　　　毎週日曜日</h5><br>
    <div class="row">
     <div class="col-md-6 pr-4">
      <table align="right">
       <thead>
        <tr>
         <td colspan=7>４月</td>
        </tr>
        <tr>
         <th>月</th>
         <th>火</th>
         <th>水</th>
         <th>木</th>
         <th>金</th>
         <th>土</th>
         <th bgcolor="#f08080">日</th>
        </tr>
       </thead>
       <tboby>
        <tr>
         <td></td>
         <td></td>
         <td></td>
         <td>1</td>
         <td>2</td>
         <td>3</td>
         <td bgcolor="#f08080">1</td>
        </tr>
        <tr>
         <td>4</td>
         <td>5</td>
         <td>6</td>
         <td>7</td>
         <td>8</td>
         <td>9</td>
         <td bgcolor="#f08080">10</td>
        </tr>
        <tr>
         <td>11</td>
         <td>12</td>
         <td>13</td>
         <td>14</td>
         <td>15</td>
         <td>16</td>
         <td bgcolor="#f08080">17</td>
        </tr>
        <tr>
         <td>18</td>
         <td>19</td>
         <td>20</td>
         <td>21</td>
         <td>22</td>
         <td>23</td>
         <td bgcolor="#f08080">24</td>
        </tr>
        <tr>
         <td>25</td>
         <td>26</td>
         <td>27</td>
         <td>28</td>
         <td>29</td>
         <td>30</td>
         <td bgcolor="#f08080"></td>
        </tr>
       </tboby>
      </table><br>
      </div>
      <div class"col-md-6 pl-4">
      <table align="left">
       <thead>
        <tr>
         <td colspan=7>５月</td>
        </tr>
        <tr>
         <th>月</th>
         <th>火</th>
         <th>水</th>
         <th>木</th>
         <th>金</th>
         <th>土</th>
         <th bgcolor="#f08080">日</th>
        </tr>
       </thead>
       <tboby>
        <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td bgcolor="#f08080">1</td>
        </tr>
        <tr>
         <td>2</td>
         <td>3</td>
         <td>4</td>
         <td>5</td>
         <td>6</td>
         <td>7</td>
         <td bgcolor="#f08080">8</td>
        </tr>
        <tr>
         <td>9</td>
         <td>10</td>
         <td>11</td>
         <td>12</td>
         <td>13</td>
         <td>14</td>
         <td bgcolor="#f08080">15</td>
        </tr>
        <tr>
         <td>16</td>
         <td>17</td>
         <td>18</td>
         <td>19</td>
         <td>20</td>
         <td>21</td>
         <td bgcolor="#f08080">22</td>
        </tr>
        <tr>
         <td>23</td>
         <td>24</td>
         <td>25</td>
         <td>26</td>
         <td>27</td>
         <td>28</td>
         <td bgcolor="#f08080">29</td>
        </tr>
        <tr>
         <td>30</td>
         <td>31</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td bgcolor="#f08080"></td>
        </tr>
       </tboby>
      </table>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>