<div class="container">
 <div class="row">
  <div class="col-12">
   <h1 class="text-center">About</h1>
   <p class="text-center">
   ながのCAKEは全国発送可能なケーキ屋さんです。<br>
   お子様からお年寄りの方までお召し上がりいただけるよう、<br>
   様々なバリエーションをご用意しております。<br>
   また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
   ぜひご注文ください。
   </p>
  </div>
 </div>

 <div class="row">
  <div class="offset-md-3"></div>
  <div class="col-12 col-md-2 d-flex align-items-center">
   <table align="center">
    <tbody>
     <tr><td width="100" align="left"><h5>営業時間</h5></td><td width="100" align="left"><h5>13時〜15時</h5></td></tr>
     <tr><td width="100" align="left"><h5>定休日</h5></td><td width="100" align="left"><h5>毎週日曜日</h5></td></tr>
    </tbody>
   </table>
  </div>

  <div class="col-6 col-md-3">
   <table align="right">
    <thead>
     <tr>
      <td colspan="7" align="center">４月</td>
     </tr>
     <tr>
      <th class="td-width">月</th>
      <th class="td-width">火</th>
      <th class="td-width">水</th>
      <th class="td-width">木</th>
      <th class="td-width">金</th>
      <th class="td-width">土</th>
      <th class="td-width" bgcolor="#f08080">日</th>
     </tr>
    </thead>
    <tboby>
     <tr>
      <td colspan="4"></td>
      <td>1</td>
      <td>2</td>
      <td bgcolor="#f08080">3</td>
     </tr>
     <tr>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td bgcolor="#f08080">10</td>
     </tr>
     <tr>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td bgcolor="#f08080">17</td>
     </tr>
     <tr>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td bgcolor="#f08080">24</td>
     </tr>
     <tr>
      <td>25</td>
      <td>26</td>
      <td>27</td>
      <td>28</td>
      <td>29</td>
      <td>30</td>
      <td bgcolor="#f08080"></td>
     </tr>
    </tboby>
   </table>
  </div>
  <div class"col-6 col-md-3">
   <table align="left">
    <thead>
     <tr>
      <td colspan="7" align="center">５月</td>
     </tr>
     <tr>
      <th class="td-width">月</th>
      <th class="td-width">火</th>
      <th class="td-width">水</th>
      <th class="td-width">木</th>
      <th class="td-width">金</th>
      <th class="td-width">土</th>
      <th bgcolor="#f08080" class="td-width">日</th>
     </tr>
    </thead>
    <tboby>
     <tr>
      <td colspan="6"></td>
      <td bgcolor="#f08080">1</td>
     </tr>
     <tr>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td bgcolor="#f08080">8</td>
     </tr>
     <tr>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td bgcolor="#f08080">15</td>
     </tr>
     <tr>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td bgcolor="#f08080">22</td>
     </tr>
     <tr>
      <td>23</td>
      <td>24</td>
      <td>25</td>
      <td>26</td>
      <td>27</td>
      <td>28</td>
      <td bgcolor="#f08080">29</td>
     </tr>
     <tr>
      <td>30</td>
      <td>31</td>
      <td colspan="4"></td>
      <td bgcolor="#f08080"></td>
     </tr>
    </tboby>
   </table>
  </div>
 </div>
</div>