 <div class="container">
  <div class="row">
   <div class="col">
     <div id="box">
      <div id="images">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
     </div>
     </div>
     <p class="text-center">
     ながのCAKEは全国発送可能なケーキ屋さんです。<br>
     お子様からお年寄りの方までお召し上がりいただけるよう、<br>
     様々なバリエーションをご用意しております。<br>
     また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
     ぜひご注文ください。
     </p>
     <div class="main">
     <!--<img src="/assets/nagano_cake/cake1.jpg", alt="" width="600" height="200">-->
     </div>
    </div>
   </div>
 </div>