<div class="container">
    <div class="row">
      <div class="col">
        <table>
          <tbody>
            <div class="main">
           <img src="/assets/nagano_cake/cake1.jpg", alt="" width="500" height="200">
           <p>
          <span class="welcome">ようこそ、ながのCAKEへ！</span><br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。<br>
          </p>
          <h2>オススメ商品</h2>
          <p></p>
          <%= link_to "もっと見る", products_path, class: "btn-link" %>
          </div>
          </tbody>
      </table>
     </div>
   </div>
</div>
