<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>注文履歴詳細</h2>
      <h3>注文情報</h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>注文日</td>
            <td>created_at</td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>orderの内容</td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td>orderの内容</td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>orderの内容</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 mt-5">
      <h3>請求情報</h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>商品合計</td>
            <td>税込の価格</td>
          </tr>
          <tr>
            <td>配送料</td>
            <td>800円</td>
          </tr>
          <tr>
            <td>ご請求額</td>
            <td>合計額</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <h3>注文内容</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>商品名</td>
            <td>税込価格</td>
            <td>個数</td>
            <td>小計</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>