<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>会員一覧</h2>
    </div>
    <div class="col-md-9 mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @search_customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.first_name + customer.last_name, admin_customer_path(customer) %></td>
              <td><%= customer.email %></td>
              <% if customer.is_deleted == false %>
                <td class="text-success">有効</td>
              <% else %>
                <td class="text-muted">退会</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>