<div class="container">
  <div class="row">
    <div class="col">
      <h3>注文履歴詳細</h3>
      
      <!--注文履歴詳細-->
      <table>
        <tbody>
          <tr>
            <th>購入者</th>
            <!--admin/customersコントローラーで定義したものを入れ込む-->
            <td><"%= link_to "山田花子", "admin_customer_path(hoge)" %"></td>
          </tr>
          <tr>
            <th>注文日</th>
            <!--admin/customersコントローラーで定義したものを入れ込む-->
            <td><"%= link_to "山田花子", "admin_customer_path(hoge)" %"></td>
          </tr>
          <tr>
            <th>配送先</th>
            <!--admin/customersコントローラーで定義したものを入れ込む-->
            <td><"%= link_to "山田花子", "admin_customer_path(hoge)" %"></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <!--admin/customersコントローラーで定義したものを入れ込む-->
            <td><"%= link_to "山田花子", "admin_customer_path(hoge)" %"></td>
          </tr>
          <tr>
            <th></th>
            <!--admin/customersコントローラーで定義したものを入れ込む-->
            <td><"%= link_to "山田花子", "admin_customer_path(hoge)" %"></td>
          </tr>
        </tbody>
      </table>

      <!--各商品の製作ステータス-->
      <table>
        
      </table>
    </div>
  </div>
</div>