<div class="container">
  <div class="row">
    <div class="col">
      <h3>注文履歴詳細</h3>
      <%= render 'detailed' customer_name: @customer_name, order: @order %>
    </div>
  </div>

  <div class="row">
    <!--各商品の製作ステータス-->
    <div class="col">
      <%= render 'detailed' order_products: @order_products %>
    </div>

    <!--会計情報-->
    <div class="col">
      <%= render 'total_price' amaunt_ex_shipping: @amaunt_ex_shipping, order: @order %>
    </div>
  </div>
</div>
