<div class="container">
  <br><br />
  <div class="row">
  <div class="col-lg-4">

<%= attachment_image_tag @product, :product_image, size: '200x200', class:"attachment product product_image fallback"%>
  </div>

  <div class="col-lg-4">
    <p><%= @product.product_name %></p>
    <p><%= @product.product_description %></p>
    <p>￥<%= @product.add_tax_sales_price.to_s(:delimited) %>(税込)</p>
  </div>
  </div>
</div>