<div class="container">
  <div class="row">
    <div class="col">
      <h3>配送先編集</h3>
      <%= render 'layouts/flash' %>
      <%= render 'layouts/error_messages', validation: @delivery %>
      <%= render 'form', delivery: @delivery, btn: '変更内容を保存' %>
    </div>
  </div>
</div>