<div class="container">
  <div class="row">
    <div class="col">
      <h2>配送先登録 / 一覧</h2>

      <!--配送先新規登録-->
      <%= render 'form', delivery: @delivery, btn: '新規登録' %>

      <!--配送先一覧-->
      <table class="table table-bordered", id="deliveries">
        <%= render 'index', deliveries: @deliveries %>
      </table>
    </div>
  </div>
</div>