<footer>
  <p class="footer-text">Nagano Cake© 2021 All rights reserved by Infratop.Inc.</p>
  <div class="icon">
    <a href="https://instagram.com/nagano.cake">
    <span class="fab fa-instagram fa-3x mr-5"></span>
    <a href="https://mobile.twitter.com/nagano_cake">
    <span class="fab fa-twitter-square fa-3x mr-5"></span>
    <a href="https://ja-jp.facebook.com/">
    <span class="fab fa-facebook-square fa-3x"></span>
  </div>
</footer>