<footer>
  <p class="footer-text">Nagano Cake© 2021 All rights reserved by Infratop.Inc.</p>
  <div class="icon">
    <span class="fab fa-instagram fa-3x mr-5"></span>
    <span class="fab fa-twitter-square fa-3x mr-5"></span>
    <span class="fab fa-facebook-square fa-3x"></span>
  </div>
</footer>