<footer>
  <div class="col-md-12">
    <div class="col-sm-8 offset-2 mt-3">
      <p class="footer-text">Nagano Cake© 2021 All rights reserved by Infratop.Inc.</p>
    </div>
    <div class="col-sm-2 mt-5">
      <div class="icon">
        <span class="fab fa-instagram fa-3x mr-5"></span>
        <span class="fab fa-twitter-square fa-3x mr-5"></span>
        <span class="fab fa-facebook-square fa-3x mr-5"></span>
      </div>
    </div>
  </div>
</footer>